<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <img src={{imglogo1}} alt="Fit4Life" width="159" height="61">
                <br />
                <br />

                <div> </div>

                    Hi {{Name}},<br />


                        <p>Your client {{Customer}} has cancelled the appointment on {{d1}} at {{sl1sT}}.</p>



                        Thanks&nbsp;&&nbsp;Regards,<br /><br>
                        Fit4life India Team.<br />

            </td>
        </tr>
    </table>
</body>
</html>
