<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <img src={{f4lLogo1}} alt="Fit4Life" width="159" height="61">
                <br />
                <br />
                <div> </div>

                    Hi&nbsp;{{Name}},


                    <p>Thanks for informing us about your appointment cancellation. We’ve noted the same.</p>
					<p>Please contact your Nutritionist to reschedule your appointment depending on the available slots.<p>

                    Thanks & Regards,<br /><br>
                    Fit4life India Team.<br />

            </td>
        </tr>
    </table>
</body>

</html>