<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <IMG SRC={{f4lLogo1}} alt="Fit4Life" width="159" height="61">
                <br />
                <br />
                <div> </div>

                    Hi&nbsp;{{Name}},<br />
                    <br/>
                     Your client {{name}} has accepted the appointment on {{ApptDate}} at {{ApptTime}}.
                    <br />


					<br/>
                    Thanks&nbsp;&&nbsp;Regards,<br /><br>
                    Fit4life India Team.<br />

            </td>
        </tr>
    </table>
</body>

</html>
