<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <IMG SRC={{f4lLogo1}} alt="Fit4Life" width="159" height="61">
                <br />
                <br />
                <div> </div>

                    Hi&nbsp;{{Name}},<br />
                    <br/>

                    Thank you for confirming your appointment.<br />
                    <br />
                    Your review call with Ms. Deepika Chalasani is scheduled on  {{ApptDate}} at {{ApptTime}}.
                    <br />
					<br />
					The Zoom link for your review call will be shared in your WhatsApp group, kindly join the call on time.<br />

					<p>If you are not available for the review call as selected by you, you can cancel the appointment by clicking on the link –
                </br>
                <a href={{cancellink}} target="_blank">link</a></p>


					Please contact your Nutritionist to reschedule your appointment as per availability of slots.<br />
					<br/>

                    <br/>
					<br/>
                    Thanks & Regards,<br /><br>
                    Fit4life India Team.<br />

            </td>
        </tr>
    </table>
</body>

</html>
