<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <table>
        <tr>
            <td>
                <br />
                <br />
                <div> </div>

                    <header class="site-header" id="header">
		            <h1 class="site-header__title" data-lead-id="site-header-title">! REMINDER ! <br/></h1>
                    <br />
					Hi {{Name}},<br />
					<br />
                    This message is to remind you that your appointment for a review call with Ms. Deepika Chalasani is on {{ApptDate}} at {{ApptTime}}</b>.<br>
                    You will get the zoom link in your WhatsApp group, kindly join on time.


                    <br />
					<br/>
					If you are not available at the scheduled time, please contact your Nutritionist to reschedule your appointment.
</b><br />
					<br/>
                    Thanks & Regards,<br /><br>
                    Fit4life India Team.<br />

            </td>
        </tr>
    </table>
</body>

</html>
