<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <img src={{f4lLogo1}} alt="Fit4Life" width="159" height="61">
                <br />
                <br />

                <div> </div>
                <span style="font-family:Arial;font-size:10pt">
                    <b>Hi</b>&nbsp;{{Name}},<br />

                        <p>{{Customer}} proposal dates :</p>
						<p> Date {{d1}} - startTime {{sl1sT}} - EndTime {{sl1et}}</p>


						already taken. send another proposal<br />
                        <br />

                        <br />
                         We are looking forward working with you.
                        <br /><br>
                        Thanks & Regards<br /><br>
                        Fit4life India Team.<br />
                </span>
            </td>
        </tr>
    </table>
</body>
</html>
