<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<center>
    <table>
        <tr>
            <td>
                <img src="http://fit4lifeindia.in/images/logos/logo-icon.png" alt="Fit4Life" width="159" height="61">
                <br />
                <br />
                <div> </div>
                <span style="font-family:Arial;font-size:10pt">
                    <header class="site-header" id="header">
		            <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU {{Name}}</h1>



                    <br />
                    Your Appointment On:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ApptDate}} at {{ApptTime}}
                    is scheduled
                    <br />

                    <br />
					<br/>
					We are looking forward to work with you.
					<br/>
                    Thanks & Regards,<br /><br>
                    Fit4life India Team.<br />
                </span>
            </td>
        </tr>
    </table></center>
</body>

</html>
